.Button{
    min-width: 150px;
    background-color: #b601b6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    font-size: 18px;
    color: white;
}
.my-button{
    min-width: 150px;
    background-color: #b601b6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    font-size: 18px;
    color: white;
}